/* @font-face {
  font-family: "Dinamit Extralight";
  src: url("/public/fonts/Dinamit_Extralight.woff2") format("woff2");
}
@font-face {
  font-family: "Dinamit Light";
  src: url("/public/fonts/Dinamit_Light.woff2") format("woff2");
}
@font-face {
  font-family: "Dinamit Medium";
  src: url("/public/fonts/Dinamit_Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Dinamit Regular";
  src: url("/public/fonts/Dinamit_Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Dinamit Semibold";
  src: url("/public/fonts/Dinamit_Semibold.woff2") format("woff2");
} */
